[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cemco"]
	path = cemco
	url = https://github.com/cran/cemco
[submodule "statGraph"]
	path = statGraph
	url = https://github.com/cran/statGraph
